:root{
  --app-bg: #f4f7fb;
  --blue: #0c68f4;
  --light-blue: #ebf3ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
}

.row {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}
