@import "./reset.css";
@import "./primary-styles.css";
@import "./helpers.css";
@import "./custom-bs.css";
@import "./fonts.css";

body {
  font-family: "yekan";
  background-color: var(--app-bg);
}

/* 
==================================
Table of content 
================================== 

1. side bar
2. two step verification
*/

/* side bar starts */

.side-bar-menu__link,
.side-bar__link {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.7rem;
  padding-right: 1.2rem;
  font-size: 14px;
}

.side-bar__link {
  padding-block: 1.2rem;
}

.side-bar-menu__link h6 {
  flex: 1;
  padding: 1.2rem 0;
  border-bottom: 0.1px solid var(--border-color);
}
.side-bar-menu__link--active {
  position: relative;
  background-color: var(--light-blue);
}
.side-bar-menu__link--active::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 100%;
  right: 0;
  top: 0;
  background-color: var(--blue);
}
/* side bar ends */

/* two step verification starts */
section {
  background-color: #fff;
  padding: 16px 40px;
  border: 1px solid rgb(236, 241, 249);
  border-radius: 4px;
  margin-bottom: 0.5rem;
}
.two-step-verification {
}
.two-step-verification__items {
  margin-top: 2rem;
}
.phone-number {
  direction: ltr;
}
.two-step-verification__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid var(--border-color);
}

.two-step-verification__caption {
  max-width: 237px;
}
input[type="radio"] {
  cursor: pointer;
}
/* two step verification ends */

/* connected devices starts */
table{
  width: 100%;
  margin-top: 1.5rem;
}
table thead tr {
  border-bottom: 1px solid var(--border-color);
  color: var(--gray);
}
table thead th {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  padding-bottom: 20px;
}

table tbody td {
  padding-top: 20px;
  height: 56px;
  line-height: 56px;
}
/* connected devices ends */

/* activity history starts */
.activity-history__btns button{
  background-color: var(--info-btn);
}
/* activity history ends */
