@import "./reset.css";
@import "./primary-styles.css";
@import "./helpers.css";
@import "./custom-bs.css";
@import "./fonts.css";
@import "./modules/side-bar.css";

/* two step verification starts */
.two-step-verification__items {
  margin-top: 2rem;
}
.phone-number {
  direction: ltr;
}
.two-step-verification__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid var(--border-color);
}

.two-step-verification__caption {
  max-width: 237px;
}
input[type="radio"] {
  cursor: pointer;
}
/* two step verification ends */

/* connected devices starts */
table {
  width: 100%;
  margin-top: 1.5rem;
}
table thead tr {
  border-bottom: 1px solid var(--border-color);
  color: var(--gray);
}
table thead th {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.75;
  padding-bottom: 20px;
}

table tbody td {
  padding-top: 20px;
  height: 56px;
  line-height: 56px;
}
/* connected devices ends */

/* activity history starts */
.activity-history__btns button {
  background-color: var(--info-btn);
}
/* activity history ends */
